$base-font-size: 16px;
$small-font-size: 14px;

$font-family: "Montserrat", sans-serif;

$main-spacing: 20px;
$max-width: 1366px;

$color-primary: #222;
$color-secondary: #f5f5f5;

$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1000px
);
