@import "./variable.scss";
.carousel{
  position: relative;
  animation: appear 1s ease;
}

.carousel .carousel .slide {
  background-color: $color-secondary;
}
.carousel .slide .legend {
  background: $color-secondary;
  color: $color-primary;
}
.carousel .thumb{
  width: 25%;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 2px solid $color-secondary;
}
/*.carousel .control-next.control-arrow:before,
.carousel .control-prev.control-arrow:before {
  border-left: 10px solid $color-primary;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}*/
