@import "./variable.scss";
.grid-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  //grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  & .front-end-my-work {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: $main-spacing;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 6px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 99;
    & .technology {
      color: lighten($color-primary, 30%);
      padding-bottom: $main-spacing * 1.5;
    }

    & .title {
      font-family: $font-family-high;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    & .btn-my-work {
      padding-right: 10px;
      &:hover {
        color: #cca32b;
        transition: color 0.5s;
      }
    }
  }
}

@keyframes navMYWorkFade {
  from {
    opacity: 0;
    transform: translateX((50px));
  }
  to {
    opacity: 1;
    transform: translateX((0px));
  }
}
